.task-list {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 80%;
  background-color: #a5acaf;
  padding: 1rem;
  color: #002244;
}

.main-container {
  top: 0;
  bottom: 0;
  right: 0;
  left: 20%;
  position: absolute;
}

.timer-container {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 10rem;
  width: 13rem;
}

.timer {
  font-size: 5rem;
  height: 45%;
  width: 100%;
  text-align: center;
  color: #002244;
}


.start-reset-button {
  height: 45%;
  width: 100%;
  background-color: #a5acaf;
  color: #002244;
  border-radius: 2px;
  text-align: center;
  font-size: 3rem;
  margin-top: 1rem;
  position: relative;
}


.start-reset-break-button {
  height: 50px;
  width: 150px;
  background-color: #888;
  color: #fff;
  border-radius: 2px;
  text-align: center;
  font-size: 30px;
  margin-top: 5px;
  padding-top: 15px;
}